<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ShutickyLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ShutickyLite.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>ShutickyLite</value>
            </setting>
            <setting name="SettingFileName" serializeAs="String">
                <value>ShutickySetting.xml</value>
            </setting>
            <setting name="DefaultShutickyName" serializeAs="String">
                <value>新規メモ</value>
            </setting>
            <setting name="PositionIncrementX" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PositionIncrementY" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DefaultPositionX" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DefaultPositionY" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DefaultWidth" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="DefaultHeight" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="OnedriveCommonApplicationFolderName" serializeAs="String">
                <value>アプリ</value>
            </setting>
            <setting name="AppTrashcanName" serializeAs="String">
                <value>Trash</value>
            </setting>
            <setting name="ExecuteAtStartupSetting" serializeAs="String">
                <value>False</value>
            </setting>
        </ShutickyLite.Properties.Settings>
    </userSettings>
</configuration>
